// Colors
$white: #D9D7C7;
$light-brown: #C3976A;
$med-brown: #AC714A;
$red-brown: #924a36;
$dark-brown: #3A160E;
$shadow: rgba(58, 22, 14, .65);

//Values
$border-radius: 25px;
$box-shadow-container: 4px 4px 6px $shadow;
$btn-shadow: 2px 2px 4px $shadow;
$font-shadow: 1px 1px 2px $shadow;